@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

.container {
  width: 100%;
  margin: 0;
}

.flex-container {
  display: flex;
  height: 80px;
  width: 100%;
}

#map {
  height: 400px;
  width: 95%;
  margin: 20px auto 10px auto;
}

header {
  display: block;
  font-family: Helvetica;
  background-color: #F5CF47;
  height: 85px;
}

header img {
  margin-left: 60px;
  padding-top: 15px;
  height: 94px;
  width: 72px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-top: 30px;
  position: relative;
}

li a {
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 18px;
  color: #2B2A26;
  border-bottom: solid #333333 2px;
  padding-bottom: 7px;
  text-decoration: none;
  letter-spacing: 1px;
}

#pac-input {
  background-color: #FFFFFF;
  font-size: 1.5em;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

footer {
  text-align: center;
  font-family: Fjalla One, sans-serif;
  letter-spacing: 1px;
  color: #FFFFFF;
  background-color: #212121;
  padding: 25px;
}

/*COLORS*/
/*yellow: #F5Cf47
dkgray: #2C2C2C
beige: #E0DED9
lavender: #7773B6
orange: #E37B01
teal: #6BA2B8*/
